<library path="src">
  <class name="asr_sdm_svo2" type="asr_sdm_rqt.svo.Svo" base_class_type="rqt_gui_py::Plugin">
    <description>
      Plugin for SVO - Semi-Direct Visual Odometry
    </description>
    <qtgui>
      <label>Svo</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>